* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	color: black;
}

body {
	background-color: rgba(174, 173, 170, 0.679);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-container {
	border: 2px solid gray;
	border-radius: 15px;
	width: 300px;
	height: 500px;
	padding: 15px;
	/* Layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.screen {
	border: 2px solid gray;
	border-radius: 15px;
	height: 10%;
	width: 100%;
	background-color: white;
	/* Layout for output */
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	border: 2px solid gray;
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.row {
	width: 100%;
	height: 20%;
	display: flex;
	flex: 1;
}

button {
	flex: 1;
	border-radius: 0;
	border: 1px solid black;
}